// —————————————————————————————————————————————————————————————————
// reset
// markdown
// overrides storybook
// overrides components
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// reset
// —————————————————————————————————————————————————————————————————

* {
  box-sizing: border-box;
}

// reset checkbox and radio styles on props table
.docblock-argstable {

  input[type="checkbox"],
  input[type="radio"] {
    all: revert;
  }
}

// —————————————————————————————————————————————————————————————————
// markdown
// —————————————————————————————————————————————————————————————————

.SBMarkdown {

  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1.125rem; font-weight: bold; }
  h6 { font-size: 1.125rem; }
  p:not(.text) { font-size: 1rem; }

  h2 {
    padding-bottom: 1rem;
    margin-top: 2rem !important;
    border-color: #333B4B !important;
  }

  h3 {
    margin-bottom: 1.5rem !important;
  }

  a {
    text-decoration: underline;
    color: #00FFC4;
    font-weight: inherit;
    font-size: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  ul li {
    font-size: 1rem;
  }

  pre.prismjs {
    padding: 0.75rem !important;
    background-color: #333B4B !important;
  }
}

// —————————————————————————————————————————————————————————————————
// overrides storybook
// —————————————————————————————————————————————————————————————————

.sb-unstyled {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

// code blocks on MDX docs pages
.css-6tew02 {
  margin-bottom: 20px !important;
}

// list items on MDX docs pages
.css-13o89h3 :where(li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li))+li {
  margin-top: 0 !important;
}

// —————————————————————————————————————————————————————————————————
// overrides components
// —————————————————————————————————————————————————————————————————

.page {
  width: 100%;
}

.navBar {
  position: initial;
}
